* {
  margin: 0;
  padding: 0;
}

/* nav menu */

body {
  overflow-x: hidden;
}

nav {
  background-color: #5f5d5d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0;
  margin-left: 140px;
}

nav ul li a {
  text-decoration: none;
  margin: 0 15px;
  font-weight: 100;
  font-size: 15px;
  font-weight: lighter;
  padding: 5px;
  color: #fff;
}

.menuHiden {
  display: none;
}

.iconArrow {
  display: none;
}

.list-nav1 {
  background-color: #fff;
  color: #696969;
  padding: 15px;
}

.list-nav2 {
  text-decoration: none;
  margin: 0 10px;
  font-weight: 100;
  font-size: 15px;
  font-weight: lighter;
  color: #fff;
}

header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-left: 40px;
}

header ul li a {
  text-decoration: none;
  color: #696969;
  margin: 0 15px;
  font-weight: 100;
  font-size: 25px;
  padding-left: 30px;
}

header ul li a:hover {
  text-decoration: underline;
}

header img {
  height: 50px;
  padding-left: 20px;
}

.icon-header {
  font-size: 25px;
  color: #696969;
  padding: 0 25px;
}

.icon-header:nth-child(4) {
  display: none;
}

/* section header */

.container-header {
  background-image: url(../assets/header/rectangle-3.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-header img {
  padding-top: 47px;
  padding-bottom: 20px;
}

.container-header,
h2,
h3 {
  color: #fff;
  padding: 5px;
}

.h1 {
  font-size: 44px;
  font-family: "VodafoneRg";
  font-weight: 400;
}

.h2 {
  font-size: 30px;
  font-weight: 400;
}

.h3 {
  font-size: 30px;
  font-weight: bold;
}

.button-header {
  background-color: #e60000;
  color: #fff;
  padding: 15px 25px;
  border: none;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 45px;
  cursor: pointer;
  text-decoration: none;
}

/* section1 */

.section1 {
  background-color: #666;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding-left: 100px;
  cursor: pointer;
}

.icon-section1 {
  padding: 3px 10px;
  color: #fff;
  font-size: 25px;
}

.text-section1 {
  padding: 10px;
  color: #fff;
}

.section1 p:nth-child(1) {
  text-decoration: underline;
  font-size: medium;
  color: #fff;
}

/* section2 */

.section2 {
  background-color: #333;
  text-align: center;
  padding: 60px 40px;
}

.section2 h4 {
  color: #fff;
  font-size: 36px;
  font-weight: lighter;
}

.carrousel {
  width: 100%;
}

.container-all-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.container-card {
  border: 1px solid #fff;
  width: 400px;
  height: 292px;
  margin: 10px;
}

.container-card img {
  width: 400px;
  height: 146px;
}

.container-card h5 {
  font-size: 20px;
  color: #fff;
  padding: 20px 0 10px 0;
}

.container-card p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}

.container-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.container-item {
  display: flex;
  flex-direction: column;
}

.list-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  line-height: 18px;
}

.list-item p {
  padding-left: 10px;
}

/* size transition laptop>tablet */

@media only screen and (max-width: 1200px) {
  .list-item img {
    width: 23px;
    height: 20px;
    margin: 5px;
    object-fit: contain;
  }

  .list-item p {
    text-align: left;
    font-size: 16px;
  }

  .container-list {
    justify-content: space-around;
  }

  html {
    width: 100%;
    overflow-x: hidden;
  }
  .container-item {
    display: flex;
    padding: 10px 0;
  }
}

/* size tablet */

@media only screen and (max-width: 768px) {
  header ul li a {
    display: none;
  }
  .iconArrow {
    display: inline;
    color: #696969;
  }

  .navbar {
    display: none;
  }

  .icon-header:nth-child(4) {
    display: inline;
  }

  nav ul li a:nth-child(1) {
    display: inline;
  }

  .menuHiden {
    display: inline;
  }

  .icon-header {
    padding: 0 10px;
  }

  .container-header {
    background-image: url(../assets/header/rectangle-3@2x.jpg);
    object-fit: contain;
    width: 768px;
    height: 400px;
  }

  .h1 {
    font-size: 36px;
  }

  .h2 {
    font-size: 26px;
    padding: 0 40px;
    text-align: center;
  }

  .section1 {
    display: none;
  }

  .section2 {
    padding: 40px 5px;
  }

  .carrousel {
    width: 750px;
  }

  .container-all-cards {
    padding: 30px 2px;
    transform: translateX(0%);
  }

  .container-card {
    width: 344px;
  }

  .container-card img {
    width: 344px;
  }

  .container-card h5 {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }

  .container-card p {
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    padding: 0 40px;
    padding-bottom: 30px;
  }

  .dots {
    text-align: center;
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot.active {
    border: 2px solid #fff;
    background-color: #252424;
  }
}

/* size movil */

@media only screen and (max-width: 390px) {
  header {
    height: 50px;
  }
  header img {
    height: 30px;
    padding-left: 6px;
  }

  .icon-header {
    font-size: 15px;
  }

  .menuHiden {
    padding: 5px;
    font-size: 15px;
  }
  header ul li a {
    display: none;
  }

  header ul {
    padding: 5px;
  }

  .container-header {
    background-image: url(../assets/header/rectangle-3@2x.jpg);
    width: 390px;
    background-size: cover;
    text-align: center;
    padding: 20px 0px;
  }

  .h1 {
    font-size: 30px;
    padding: 20px;
  }

  .h2 {
    font-size: 20px;
    padding: 10px 60px;
  }

  .h3 {
    font-size: 20px;
  }

  .section2 h4 {
    font-size: 26px;
    padding: 10px 35px;
  }

  .container-header img {
    padding: 30px;
  }

  .button-header {
    width: 350px;
    padding: 10px;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .container-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .carrousel {
    width: 319px;
  }

  .container-all-cards {
    width: 319px;
    padding: 15px 2px;
  }

  .container-card {
    width: 310px;
    height: auto;
  }

  .container-card img {
    width: 310px;
  }
}
